* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --danger: rgb(220,20,60);
    /* --danger: rgb(251,46,1); */
    --success: rgb(15, 255, 149);
    /* --success-light: rgb(159, 248, 210); */
    /* https://www.color-hex.com/color-palette/24138 */
    --slate-light: rgb(81, 90, 94);
    --slate-medium: rgb(96, 102, 109);
    --slate-dark: rgb(65, 72, 77);
    --slate-muted: rgb(94, 94, 101);
    --slate-deep: rgb(58, 61, 69);
    --slate-brown: rgb(96,96,96);
    /* https://www.color-hex.com/color/34344a#color-schemes */
    --space-cadet: rgb(52 52 74);
    --space-cadet-light: rgb(62,60,83)


}

body {
   background-color: var(--space-cadet);
   color: white;
}

button, 
input[type='submit']{
    cursor: pointer;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 400;
}

.form-container {
    border-radius: 5px;
    padding: 30px 0px;
    margin: 0 auto 30px auto;
    max-width: 75vw;
    /* max-width: 400px; */
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
}

.contact-form input:not(input[type='submit']) {
    padding: 5px;
    color: white;
    border-bottom: 1px solid var(--slate-brown);
    background-color: rgb(52 52 74);
    border-radius: 5px;
}

.contact-form input[type='submit']{
    margin: 40px auto 0 auto;
    width: 20%;
    background-color: var(--success);
    font-size: 18px;
}

/* .contact-form input[type='submit']:active {
    background-color: var(--success-light);
} */

.name-container,
.other-info-container {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 30px;
}

main {
    width: 75%;
    margin: 0 auto;
}
table {
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

th {
    width: 10%;
    max-width: 150px;
}

tr:nth-child(even) {
    background-color: var(--space-cadet-light);
    color: white;
}

.empty-contacts-msg {
    display: block;
    font-size: 20px;
}

.del-contacts{
    margin-bottom: 20px;
    background-color: var(--danger);
}